.App {
  margin:auto;
}

.Auth {
  max-width: 500px;
}

h2 {
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
}

.username-password-form {
  padding: 20px;
}

.form-horizontal {
  width: 100%;
}

.form-group {
  width: 100%;
}

.form-control {
  width: 100%;
}

.form-inline {
  width: 100%;
}

button {
  width: 100%;
}